[
  {
    "ip": "https://127.0.0.1:6100",
    "name": "Server 1",
    "telegram_channel_id": 123456789,
    "username": "username",
    "password": "password"
  },
  {
    "ip": "http://127.0.0.1:6101",
    "name": "Server 2",
    "telegram_channel_id": 123456789
  }

]